<main class="main-container grow-test">
  <!-- ************************************************************* -->

  <form
    @fadeIn
    *ngIf="openDeleteForm"
    id="delete-form"
    class="d-flex general-form delete-form delete-position"
    (ngSubmit)="deleteService(serviceToDelete)"
  >
    <h2>Are you sure you want to delete?</h2>
    <button
      class="btn-style cancel-delete"
      type="button"
      (click)="toggleDeleteForm()"
    >
      Cancel
    </button>
    <button class="btn-style" type="submit">Delete</button>
  </form>

  <!-- ************************************************************* -->

  <form
    @fadeIn
    #addForm="ngForm"
    *ngIf="openAddForm"
    id="add-form"
    class="d-flex general-form add-form validated-form delete-position"
    (ngSubmit)="addService(addForm)"
  >
    <div class="d-flex form-section">
      <label for="a-title">Name of Service</label>
      <input
        class="a-inputs"
        type="text"
        id="a-title"
        name="title"
        [(ngModel)]="addServiceForm.title"
        required
      />
    </div>
    <div class="d-flex form-section">
      <label for="a-price">Price</label>
      <input
        class="a-inputs"
        type="number"
        id="a-price"
        name="price"
        min="0"
        required
        [(ngModel)]="addServiceForm.price"
        pattern="^\d+$"
      />
    </div>
    <div class="d-flex form-section">
      <label for="a-description">Description</label>
      <textarea
        id="a-description"
        class="s-general a-inputs"
        name="description"
        rows="3"
        cols="50"
        [(ngModel)]="addServiceForm.description"
        required
      ></textarea>
    </div>
    <div class="d-flex" id="add-form-btns">
      <button type="submit" class="btn-alter" [disabled]="addForm.invalid">
        Add
      </button>
      <button
        (click)="toggleAddForm()"
        id="a-form-cancel"
        class="btn-alter"
        type="button"
      >
        Cancel
      </button>
    </div>
  </form>

  <!-- ************************************************************* -->

  <div
    *ngIf="domService.displayMobileMenu || openDeleteForm || openAddForm"
    id="blur-overlay"
  ></div>

  <!-- ************************************************************* -->

  <h1 id="page-title">Business Info</h1>
  <div *ngIf="domService.actionMessage" class="flash-message" role="alert">
    {{ domService.actionMessage }}
  </div>
  <article class="d-flex article-container" id="contact-contianer">
    <h2 class="article-title">Contact</h2>

    <form
      [formGroup]="contactEditForm"
      (ngSubmit)="onContactUpdate()"
      class="contact-group d-flex"
    >
      <div class="d-flex contact-info-g">
        <div class="d-flex info-piece info-top-piece">
          <h3 class="service-num">Phone #</h3>
        </div>
        <div class="d-flex contact-bottom-piece">
          <input
            type="text"
            [value]="contactInfo.phone"
            maxlength="10"
            name="phone"
            class="contact-field s-general"
            formControlName="phone"
            [ngClass]="{ 'not-valid': phone?.touched && (phone?.errors?.['pattern'] || phone?.errors?.['required'] ) }"
          />
        </div>
      </div>
      <div class="d-flex contact-info-g">
        <div class="d-flex info-piece info-top-piece">
          <h3 class="service-num">Email</h3>
        </div>
        <div class="d-flex contact-bottom-piece">
          <input
            type="text"
            [value]="contactInfo.email"
            name="email"
            class="contact-field s-general"
            formControlName="email"
            [ngClass]="{ 'not-valid': email?.touched && (email?.errors?.['email'] || email?.errors?.['required'] ) }"
          />
        </div>
      </div>
      <div class="d-flex contact-info-g">
        <div class="d-flex info-piece info-top-piece">
          <h3 class="service-num">Address</h3>
        </div>
        <div class="d-flex contact-bottom-piece">
          <textarea
            (input)="onInput($event)"
            name="address"
            [value]="contactInfo.address"
            rows="2"
            cols="50"
            formControlName="address"
            class="c-desc contact-field s-general"
          ></textarea>
        </div>
      </div>
      <div class="c-btn-area d-flex">
        <button
          id="c-cancel-btn"
          class="btn-alter c-btns"
          type="button"
          [ngClass]="{ hidden: !contactFormDisable }"
          (click)="toggleDisable()"
        >
          Cancel
        </button>
        <button
          [ngClass]="{ hidden: contactFormDisable }"
          (click)="toggleEnable()"
          id="c-edit-btn"
          class="btn-alter c-btns"
          type="button"
        >
          Edit
        </button>
        <button
          id="c-update-btn"
          class="btn-alter c-btns fade"
          type="submit"
          [disabled]="contactEditForm.invalid"
          [ngClass]="{ hidden: !contactFormDisable }"
        >
          Done
        </button>
      </div>
    </form>
  </article>
  <article class="d-flex article-container">
    <h2 class="article-title">Services</h2>

    <form
      *ngFor="let service of services; let i = index"
      class="service-group"
      (ngSubmit)="onServiceUpdate(service._id)"
    >
      <div class="d-flex service-info-g">
        <div class="d-flex info-piece info-top-piece">
          <h3 class="service-num">S {{ i + 1 }}</h3>
          <button
            [disabled]="!service.isValid"
            type="submit"
            class="update-btn s-check-btn btn-general"
          >
            <i class="fa-solid fa-circle-check fa-xl"></i>
          </button>
          <button
            type="button"
            class="open-d-form btn-general"
            (click)="toggleDeleteForm(); addToDelete(service._id)"
          >
            <i class="fa-solid fa-trash fa-xl"></i>
          </button>
        </div>
        <div class="d-flex info-piece info-bottom-piece">
          <input
            type="text"
            name="title"
            class="s-title s-general f-inputs"
            [(ngModel)]="services[i].title"
            (ngModelChange)="checkValidService(i)"
            required
          />
          <input
            type="number"
            name="price"
            class="s-price s-general f-inputs"
            min="0"
            [(ngModel)]="services[i].price"
            (ngModelChange)="checkValidService(i)"
            required
          />
          <textarea
            name="description"
            rows="1"
            cols="50"
            class="s-desc s-general f-inputs description"
            required
            [(ngModel)]="services[i].description"
            (ngModelChange)="checkValidService(i)"
          ></textarea>
        </div>
      </div>
    </form>
    <button (click)="toggleAddForm()" id="open-a-btn" class="btn-alter">
      Add
    </button>
  </article>
</main>
