
<main class="main-container grow-test">
  <!-- ************************************************************* -->

  <form
    id="delete-form"
    class="d-flex general-form delete-form hidden"
    action="admin/services/"
    method="post"
  >
    <h2>Are you sure you want to delete?</h2>
    <button class="btn-style cancel-delete" type="button">Cancel</button>
    <button class="btn-style" type="submit">Delete</button>
  </form>

  <!-- ************************************************************* -->

  <form
    id="add-form"
    class="d-flex general-form add-form hidden validated-form"
    action="/admin/services"
    method="post"
    novalidate
  >
    <div class="d-flex form-section">
      <label for="a-title">Name of Service</label>
      <input
        class="a-inputs"
        type="text"
        id="a-title"
        name="service[title]"
        required
      />
    </div>
    <div class="d-flex form-section">
      <label for="a-price">Price</label>
      <input
        class="a-inputs"
        type="number"
        id="a-price"
        name="service[price]"
        min="0"
        required
      />
    </div>
    <div class="d-flex form-section">
      <label for="a-description">Description</label>
      <textarea
        id="a-description"
        class="s-general a-inputs"
        name="service[description]"
        rows="3"
        cols="50"
        required
      ></textarea>
    </div>
    <div class="d-flex" id="add-form-btns">
      <button type="submit" class="btn-alter">Add</button>
      <button id="a-form-cancel" class="btn-alter" type="button">Cancel</button>
    </div>
  </form>

  <!-- ************************************************************* -->

  <div id="blur-overlay" class="hidden"></div>

  <!-- ************************************************************* -->

  <h1 id="page-title">Business Info</h1>

  <article class="d-flex article-container" id="contact-contianer">
    <h2 class="article-title">Contact</h2>

    <form
      class="contact-group d-flex validated-form"
      action="/admin/contact?_method=PUT"
      method="post"
      novalidate
    >
      <div class="d-flex contact-info-g">
        <div class="d-flex info-piece info-top-piece">
          <h3 class="service-num">Phone #</h3>
        </div>
        <div class="d-flex contact-bottom-piece">
          <input
            oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="number"
            value="<%= contacts[0].phone %>"
            maxlength="10"
            name="contact[phone]"
            class="contact-field s-general"
            required
            disabled
          />
        </div>
      </div>
      <div class="d-flex contact-info-g">
        <div class="d-flex info-piece info-top-piece">
          <h3 class="service-num">Email</h3>
        </div>
        <div class="d-flex contact-bottom-piece">
          <input
            type="text"
            value="<%= contacts[0].email %>"
            name="contact[email]"
            class="contact-field s-general"
            required
            disabled
          />
        </div>
      </div>
      <div class="d-flex contact-info-g">
        <div class="d-flex info-piece info-top-piece">
          <h3 class="service-num">Address</h3>
        </div>
        <div class="d-flex contact-bottom-piece">
          <textarea
            name="contact[address]"
            rows="2"
            cols="50"
            class="c-desc contact-field s-general"
            required
            disabled
          >
          <!-- test* *************************** -->
          </textarea>
        </div>
      </div>
      <div class="c-btn-area d-flex">
        <button
          id="c-cancel-btn"
          class="btn-alter c-btns hidden-btn"
          type="button"
          disabled
        >
          Cancel
        </button>
        <button id="c-edit-btn" class="btn-alter c-btns" type="button">
          Edit
        </button>
        <button
          id="c-update-btn"
          class="btn-alter c-btns hidden-btn"
          type="submit"
          disabled
        >
          Done
        </button>
      </div>
    </form>
  </article>
  <article class="d-flex article-container">
    <h2 class="article-title">Services</h2>

    <form
      class="service-group validated-form"
      action="/admin/services/<%= service.id %>?_method=PUT"
      method="post"
      novalidate
    >
      <div class="d-flex service-info-g">
        <div class="d-flex info-piece info-top-piece">
          <h3 class="service-num">S<%= (index + 1) %></h3>
          <button
            type="submit"
            class="update-btn s-check-btn hidden-btn btn-general"
            disabled
          >
            <img
              src="/images/circle-check-solid.svg"
              width="100%"
              height="100%"
              alt="check-icon"
            />
          </button>
          <button type="button" class="open-u-form s-pen-btn btn-general">
            <img
              src="/images/pen-to-square-solid.svg"
              width="100%"
              height="100%"
              alt="edit-icon"
            />
          </button>
          <button
            type="button"
            value="<%= service.id %>"
            class="open-d-form btn-general"
          >
            <img
              src="/images/trash-solid.svg"
              width="100%"
              height="100%"
              alt="trash-icon"
            />
          </button>
        </div>
        <div class="d-flex info-piece info-bottom-piece">
          <input
            type="text"
            value="<%= service.title %>"
            name="service[title]"
            class="s-title s-general f-inputs input-<%= index %>"
            required
            disabled
          />
          <input
            type="number"
            value="<%= service.price %>"
            name="service[price]"
            class="s-price s-general f-inputs input-<%= index %>"
            min="0"
            required
            disabled
          />
          <textarea
            name="service[description]"
            rows="1"
            cols="50"
            class="s-desc s-general f-inputs description input-<%= index %>"
            required
            disabled
          >
            <!-- txt ********************** -->
        </textarea>
        </div>
      </div>
    </form>
    <%})%>
    <button id="open-a-btn" class="btn-alter">Add</button>
  </article>
</main>
