html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-width: 400px;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "DM Sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

.b-no-scroll {
  overflow: hidden;
}

input,
textarea {
  font-family: "DM Sans", sans-serif;
}

.grow-test {
  min-height: calc(var(--min-height) - 2.8rem);
}

:root {
  --admin-nav-h: 100px;
  --admin-foot-h: 5rem;
  --min-height: calc(100% - var(--admin-foot-h) - var(--admin-nav-h));
  --max-width-val: 650px;
  --primary-color: #fff8f1;
  --secondary-color: black;
  --third-color: #bd7655;
  --cont-padding: 1.2rem;
  --g-max-width: 600px;
  --gap: 1.2rem;
}

.d-flex {
  display: flex;
}

.w-90 {
  width: calc(100% - 2.8rem);
  max-width: var(--g-max-width);
}

.no-margin {
  margin: 0;
}

.hidden {
  display: none !important;
}

.hidden-btn {
  opacity: 0;
}

.b-no-scroll {
  overflow: hidden;
}

.b-shadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(132, 132, 132, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(132, 132, 132, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(132, 132, 132, 0.75);
}

.btn-alter {
  background: none;
  border: none;
  color: #bd7655;
  text-decoration: underline;
}

.btn-alter:disabled {
  color: #717171;
}

.btn-style:hover {
  transform: translateY(-5px);
}

.btn-style:active,
.btn-alter:active {
  transform: scale(0.9);
}

.btn-style:disabled {
  background-color: #717171;
}

.btn-style:disabled:active,
.btn-alter:disabled:active {
  transform: none;
}

.btn-style:disabled:hover,
.btn-alter:disabled:hover {
  transform: none;
}

.not-valid {
  border-color: #ff0000 !important;
}

.fade {
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.bouncing-dots {
  display: flex;
  justify-content: space-between;
  width: 4rem;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.dot-white {
  background-color: var(--primary-color);
}

.dot-third {
  background-color: var(--third-color);
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.animation {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (min-width: 768px) {
  :root {
    --cont-padding: 2rem;
  }

  .login-flash {
    background-color: white;
  }
}

@media (min-width: 992px) {
  :root {
    --max-width-val: 750px;
    --g-max-width: 800px;
    --gap: 1.8rem;
    --cont-padding: 3rem;
  }
}

@media (min-width: 1250px) {
  :root {
    --g-max-width: 1000px;
    --cont-padding: 4.6rem;
  }
}
