<nav class="d-flex">
  <section class="d-flex">
    <a routerLink="/salon/home" id="logo"></a>
  </section>
</nav>

<main class="main-container fof-container grow-test d-flex">
  <div id="blur-overlay" class="hidden"></div>
  <section>
    <h1 id="fof-lg-title" class="margin-none">404</h1>
  </section>
  <section class="">
    <h2 class="fof-sm-title margin-none">Accept our appologies!</h2>
    <p class="section-text margin-none">
      Seems like this page either moved or does not exist!
    </p>
  </section>

  <a id="fof-link" class="btn-alter" routerLink="/salon/home">Back Home</a>
</main>

<footer class="admin-footer d-flex">
  <h4>
    Copyright @2023 Kitty’s Hair & Makeup Salon | All Rights Reserved | Website
    design by JAC Solutions
  </h4>
</footer>
