<main class="main-container d-flex home">
  <div
    [ngClass]="{ hidden: !domService.displayMobileMenu }"
    id="blur-overlay"
  ></div>
  <section class="hero-banner hero-6 d-flex">
    <h1 class="hero-title">Contact Us</h1>
  </section>
  <article class="general-article d-flex b">
    <h4 class="subhead-text no-margin w-90">Contact Info</h4>
    <h2 class="head-title no-margin w-90">
      Get In Touch With<br id="mobile-b" />With Us
    </h2>
    <p class="section-text no-margin w-90">
      Pellentesque elit eget gravida cum. Felis donec et odio pellentesque. Orci
      a scelerisque purus semper. Lacus laoreet non curabitur gravida. Semper
      quis lectus nulla at. A lacus vestibulum sed arcu non odio euismod lacinia
      at. Vel turpis nunc eget lorem dolor. Lacus sed turpis tincidunt id
      aliquet risus feugiat. Mauris commodo quis imperdiet massa tincidunt nunc
      pulvinar.
    </p>
  </article>
  <article class="general-article w-article d-flex b">
    <section class="contact-group w-90 d-flex">
      <figure class="icon-img">
        <i class="fa-solid fa-map-location-dot fa-6x"></i>
      </figure>
      <h3 class="no-margin">Location</h3>
      <p class="no-margin section-text">test address</p>
    </section>
    <section class="contact-group w-90 d-flex">
      <figure class="icon-img">
        <i class="fa-solid fa-phone fa-6x"></i>
      </figure>
      <h3 class="no-margin">Phone</h3>
      <p class="no-margin section-text">
        <a href="tel:4145558481"> 555-555-5555</a>
      </p>
    </section>
    <section class="contact-group w-90 d-flex">
      <figure class="icon-img">
        <i class="fa-solid fa-envelope fa-6x"></i>
      </figure>
      <h3 class="no-margin">Email</h3>
      <p class="no-margin section-text">
        <a href="mailto: kittysbeauty@petitoandco.com"> test@email.com </a>
      </p>
    </section>
    <section class="square-img rec-image rec-i-2 w-90"></section>
  </article>
  <!-- <div class="separator w-90"></div> -->
  <article class="general-article d-flex b">
    <h4 class="subhead-text no-margin w-90">Direct Message</h4>

    <!-- ************************************************** -->
    <ng-template #sentTemplate
      ><h2 *ngIf="alertMsg === 'success'" class="head-title no-margin w-90">
        Message Sent!
      </h2>
    </ng-template>

    <h2
      *ngIf="alertMsg !== 'success'; else sentTemplate"
      class="head-title no-margin w-90"
    >
      Send a<br id="mobile-b" />Message
    </h2>

    <ng-template #sentMsg>
      <i @fadeIn class="fa-solid fa-envelope-circle-check fa-6x"></i>
    </ng-template>
    <figure *ngIf="alertMsg === 'success'" class="icon-img">
      <ng-container *ngTemplateOutlet="sentMsg"></ng-container>
    </figure>
    <form
      *ngIf="alertMsg !== 'success'"
      [formGroup]="inquiryForm"
      (ngSubmit)="onSubmit()"
      class="contact-form d-flex w-90"
    >
      <input
        class="contact-fields"
        type="text"
        placeholder="Name"
        formControlName="name"
      />
      <input
        class="contact-fields"
        type="text"
        placeholder="Email"
        formControlName="email"
      />
      <input
        class="contact-fields"
        type="text"
        placeholder="Subject"
        formControlName="subject"
      />
      <textarea
        class="contact-fields"
        rows="auto"
        placeholder="Message"
        formControlName="message"
      ></textarea>
      <button
        id="submit-btn"
        type="submit"
        class="btn-style"
        [disabled]="!inquiryForm.valid || alertMsg === 'success'"
      >
        Send Message
      </button>
    </form>
    <button
      (click)="this.domService.scrollToTop()"
      id="to-top-btn"
      class="subhead-text no-margin w-90"
    >
      ^ Back to the top ^
    </button>
  </article>
</main>
