<nav class="d-flex">
  <section class="d-flex">
    <a href="/admin/services" id="logo"></a>
    <div class="d-flex">
      <a
        routerLink="/admin/services"
        routerLinkActive="active-link"
        class="main-links"
        >Services & Info</a
      >
      <a
        routerLink="/admin/inquiries"
        routerLinkActive="active-link"
        class="main-links"
        >Inquiries</a
      >
      <a
        routerLink="/admin/testimonials"
        routerLinkActive="active-link"
        class="main-links"
        >Testimonials</a
      >
      <a
        routerLink="/admin/gallery"
        routerLinkActive="active-link"
        class="main-links"
        >Gallery Images</a
      >
      <a
        routerLink="/admin/logout"
        routerLinkActive="active-link"
        class="main-links"
        >Log Out</a
      >
    </div>
    <button class="menu-btn-s" (click)="toggleMenu()" id="menu-btn">
      <i class="fa-solid fa-bars fa-4x menu-icon d-flex"></i>
    </button>
  </section>
</nav>

<div
  [ngClass]="{ 'side-menu-active': domService.displayMobileMenu }"
  class="side-menu"
>
  <button class="menu-btn-s" id="side-menu-btn" (click)="toggleMenu()">
    <i class="fa-solid fa-x fa-4x menu-icon d-flex"></i>
  </button>
  <div class="menu-list-container d-flex">
    <a href="/admin/services" class="menu-links">Services & Info</a>
    <a href="/admin/inquiries" class="menu-links">Inquiries</a>
    <a href="/admin/testimonials" class="menu-links">Testimonials</a>
    <a href="/admin/gallery" class="menu-links">Gallery Images</a>
    <a href="/admin/logout" id="logout-link" class="menu-links">Log Out</a>
  </div>
</div>
