.inquiry-form {
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

.inquiry-box {
  margin: 0;
  padding: 0.1rem 0;
}

.inquiry-label {
  font-size: 18px;
}

.empty-inquiry {
  height: 280px;
}
