<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <title></title>
</head>

<body style="margin: 0; padding: 0; font-family: 'DM Sans', sans-serif;">
    <main>
        <section
            style="display: table; box-sizing: border-box; padding: 2rem 2rem;  border-radius: 10px 10px 0 0;width: 100%; max-width: 750px; height: 100px; background-color: #BD7655;">
            <h1 style="display: table-cell; vertical-align: middle; text-align: center; margin: 0; font-size: 30px">
                Kitty's Hair Salon</h1>
        </section>
        <section
            style=" display: table; margin: auto 0; box-sizing: border-box; padding: 2rem 2rem; width: 100%; max-width: 750px; min-height: 350px; background-color: #FFF8F1;">
            <article style=" display: table-cell; vertical-align: middle; width: 10%;">
                <h2 style="text-align: left; margin: 0; font-size: 22px;">- From <%= name %>,</h2>
                <h2 style="text-align: left; margin: 0; font-size: 22px;">- <%= email %>
                </h2>
                <h2 style="text-align: left; margin: 0; font-size: 22px;">- <%= subject %>
                </h2>
                <h2 style="text-align: left; margin: 0; font-size: 22px;">- <%= message %>
                </h2>
            </article>
        </section>
        <section
            style="display: table; box-sizing: border-box; padding: 2rem 2rem; width: 100%; max-width: 750px; min-height: 100px; background-color: black; border-radius: 0 0 10px 10px;">
            <p
                style="display: table-cell; vertical-align: middle; text-align: center; color: #FFF8F1;margin: 0; font-size: 18px; font-weight: 500;">
                Copyright @2023 Kitty’s Hair &
                Makeup Salon | All Rights
                Reserved |
                Website design by
                JAC Solutions</p>
        </section>
    </main>

</body>

</html>